---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1>最新的三篇文章</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>更多的文章请查看 <a href="{{ '/posts/' | url }}">the archive</a>.</p>
